html{
  padding: 0;
  margin: 0;
  list-style: none;

}
body {
  padding: 10px;
  font-family: sans-serif;
}
p{
  margin-right: 10px;
}
.displayProposal{
  display: flex;
}
.proposalTimeH{
  width: 100px;
}
.proposalTimeM {
  width: 100px;
}
.helloMain{
  display: flex;
}
.helloMain>form{
  width: 50%;
}
.sw{
  display: flex;
}